@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vwrvtd');
  src:  url('fonts/icomoon.eot?vwrvtd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vwrvtd') format('truetype'),
    url('fonts/icomoon.woff?vwrvtd') format('woff'),
    url('fonts/icomoon.svg?vwrvtd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ICLGENGL201_Engelberg-Logo_Favicon_White .path1:before {
  content: "\e900";
  color: rgb(239, 91, 161);
}
.icon-ICLGENGL201_Engelberg-Logo_Favicon_White .path2:before {
  content: "\e901";
  margin-left: -0.7998046875em;
  color: rgb(231, 186, 32);
}
.icon-ICLGENGL201_Engelberg-Logo_Favicon_White .path3:before {
  content: "\e902";
  margin-left: -0.7998046875em;
  color: rgb(28, 182, 234);
}
.icon-ICLGENGL201_Engelberg-Logo_Favicon_White .path4:before {
  content: "\e903";
  margin-left: -0.7998046875em;
  color: rgb(157, 159, 162);
}
.icon-ICLGENGL201_Engelberg-Logo_Favicon_White .path5:before {
  content: "\e904";
  margin-left: -0.7998046875em;
  color: rgb(255, 255, 255);
}
.icon-ICLGENGL201_Engelberg-Logo_Favicon_White .path6:before {
  content: "\e905";
  margin-left: -0.7998046875em;
  color: rgb(255, 255, 255);
}
.icon-ICLGENGL201_Engelberg-Logo_Favicon_White .path7:before {
  content: "\e906";
  margin-left: -0.7998046875em;
  color: rgb(255, 255, 255);
}
.icon-ICLGENGL201_Engelberg-Logo_Favicon_White .path8:before {
  content: "\e907";
  margin-left: -0.7998046875em;
  color: rgb(255, 255, 255);
}
.icon-ICLGENGL201_Engelberg-Logo_Favicon_White .path9:before {
  content: "\e908";
  margin-left: -0.7998046875em;
  color: rgb(255, 255, 255);
}
.icon-ICLGENGL201_Engelberg-Logo_Favicon_White .path10:before {
  content: "\e909";
  margin-left: -0.7998046875em;
  color: rgb(255, 255, 255);
}
